---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - frp.zufardhiyaulhaq.com
  resources:
  - Visitors
  - clients
  - upstreams
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - frp.zufardhiyaulhaq.com
  resources:
  - Visitors/finalizers
  - clients/finalizers
  - upstreams/finalizers
  verbs:
  - update
- apiGroups:
  - frp.zufardhiyaulhaq.com
  resources:
  - Visitors/status
  - clients/status
  - upstreams/status
  verbs:
  - get
  - patch
  - update
