serverAddr = "{{ server_address }}"
serverPort = {{ server_port }}
auth.method = "{{ server_token }}"

webServer.addr = "{{ server_address }}"
webServer.port = {{ webserver_port }}
webServer.user = "{{ webserver_user }}"
webServer.password = "{{ webserver_password }}"