operator:
  # image of frp-operator
  image: "ghcr.io/zufardhiyaulhaq/frp-operator"
  # tag of frp-operator image
  tag: "v0.3.1"
  # number of replica for deployment
  replica: 1

resources:
  limits:
    cpu: 200m
    memory: 100Mi
  requests:
    cpu: 100m
    memory: 20Mi
