---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: clients.frp.zufardhiyaulhaq.com
spec:
  group: frp.zufardhiyaulhaq.com
  names:
    kind: Client
    listKind: ClientList
    plural: clients
    singular: client
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Client is the Schema for the clients API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ClientSpec defines the desired state of Client
            properties:
              server:
                properties:
                  adminServer:
                    properties:
                      password:
                        properties:
                          secret:
                            properties:
                              key:
                                type: string
                              name:
                                type: string
                            required:
                            - key
                            - name
                            type: object
                        required:
                        - secret
                        type: object
                      port:
                        type: integer
                      username:
                        properties:
                          secret:
                            properties:
                              key:
                                type: string
                              name:
                                type: string
                            required:
                            - key
                            - name
                            type: object
                        required:
                        - secret
                        type: object
                    required:
                    - password
                    - port
                    - username
                    type: object
                  authentication:
                    properties:
                      token:
                        properties:
                          secret:
                            properties:
                              key:
                                type: string
                              name:
                                type: string
                            required:
                            - key
                            - name
                            type: object
                        required:
                        - secret
                        type: object
                    required:
                    - token
                    type: object
                  host:
                    type: string
                  port:
                    type: integer
                  protocol:
                    enum:
                    - tcp
                    - kcp
                    - quic
                    - websocket
                    - wss
                    type: string
                  stunServer:
                    type: string
                required:
                - authentication
                - host
                - port
                type: object
            required:
            - server
            type: object
          status:
            description: ClientStatus defines the observed state of Client
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
