---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: visitors.frp.zufardhiyaulhaq.com
spec:
  group: frp.zufardhiyaulhaq.com
  names:
    kind: Visitor
    listKind: VisitorList
    plural: visitors
    singular: visitor
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Visitor is the Schema for the visitors API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VisitorSpec defines the desired state of Visitor
            properties:
              client:
                type: string
              stcp:
                properties:
                  host:
                    type: string
                  port:
                    type: integer
                  serverName:
                    type: string
                  serverSecretKey:
                    properties:
                      secret:
                        properties:
                          key:
                            type: string
                          name:
                            type: string
                        required:
                        - key
                        - name
                        type: object
                    required:
                    - secret
                    type: object
                required:
                - host
                - port
                - serverName
                - serverSecretKey
                type: object
              xtcp:
                properties:
                  fallback:
                    properties:
                      enable:
                        type: boolean
                      sftpName:
                        type: string
                      timeout:
                        type: integer
                    required:
                    - enable
                    - sftpName
                    - timeout
                    type: object
                  host:
                    type: string
                  port:
                    type: integer
                  serverName:
                    type: string
                  serverSecretKey:
                    properties:
                      secret:
                        properties:
                          key:
                            type: string
                          name:
                            type: string
                        required:
                        - key
                        - name
                        type: object
                    required:
                    - secret
                    type: object
                required:
                - host
                - port
                - serverName
                - serverSecretKey
                type: object
            required:
            - client
            - stcp
            - xtcp
            type: object
          status:
            description: VisitorStatus defines the observed state of Visitor
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
